.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    margin: 20px;

    .calc-section {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        margin: 10px;
        width: 30%;
        height: 25%;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 4px;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}