.rating-stars {
    font-size: 24px;
    /* Adjust font size as needed */


    .star {
        color: #FFA500;
        /* Set the color to yellow-orange */
    }

    .filled {
        color: #FFA500;
    }

    .half {
        color: #FFA500;
    }
}