// RatingStars.scss

.rating-stars {
    display: flex;
    font-size: 24px; // Adjust the font size as needed
}

.star {
    color: #ccc; // Default color for empty stars
}

.filled {
    color: #FFA500; // Color for filled stars
}


// Customize the color for the tenth star
.filled-tenth.above-half {
    color: #ffe478; // Example color for 0.1
}

// Customize the color for the remaining empty stars
.star-0 {
    // Additional styling for 0 (if needed)
    color: #ccc;
}